*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9588a8;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #CBE8E5, #F4E5DB);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff0;
    padding: 40px 0;
}
.todo-app h2 {
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f0dbf4;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #240035;
    color: #F4E5DB;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}
ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(../img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover {
    background: #c4c4c4;
    border-radius: 50%;
}

@media screen and (max-width: 400px) {
    .row {
        width: 95%;
        justify-content: center;
    }
    input {
        padding: 0 0 0 15px;
    }
    button {
        display: flex;
        justify-content: center;
        width: 20%;
    }
    .todo-app {
        width: 100%;
        height: auto;
        background: #fff;
        padding: 40px 30px 30px;
        border-radius: 15px;
    }
}